body {
    font-family: "Arial", sans-serif;
  }
  h1 {
    color: green;
    font-size: 2em;
  }
  
  h2 {
    color: green;
    font-size: 1.5em;
  }

  .evenrow {
    background-color: lightgray;
  }
  